.card__desc {
    min-height: 169px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 16px 0;
    color: #899D9D;
}

@media (max-width: 1024px) {
    .card__desc {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 100%;
    }
}