.help__container {
    box-sizing: border-box;
    max-width: 1174px;
    padding-block: 60px;
    padding-inline: 32px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

@media (max-width: 376px) {
    .help__container {
      text-align: center;
    }
}